button {
  margin-right: 4px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 5px;
}

.display {
  margin-bottom: 20px;
}

.time {
  font-size: 72px;
  font-weight: 400;
  background: -webkit-linear-gradient(90deg, #ff6491, #ff8d72);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  width: 100%;
  text-align: center;
  line-height: initial;
}

.timeType {
  display: block;
  font-size: 24px;
  background: -webkit-linear-gradient(90deg, #0098f0, #00f2c3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.github {
  width: 40px;
  height: 40px;
}

.btnIcon {
  border: 0;
  border-radius: 50%;
  background-position: center;
  width: 60px;
  height: 60px;
  background-size: 50px;
}

.btnIcon:active, .btnIcon:focus {
  outline: 0;
  opacity: .5;
}

.controlsLink {
  line-height: 40px;
}

.controlsLink a {
  text-decoration: none;
  font-size: 14px;
}

.controlsLink a:hover, .controlsLink a:focus {
  text-decoration: underline;
}

.header, .footer {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: space-between;
  margin: 0 18px;
}

.header {
  line-height: 40px;
}

.headerTitle {
  display: block;
  font-size: 40px;
  background: -webkit-linear-gradient(#0098f0, #00f2c3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@media (max-width: 500px) {
  .headerTitle {
    font-size: 24px;
  }
}
