<nb-layout>

  <nb-layout-header fixed>
    <h2>Pomodoro App</h2>
  <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>
    <div>
      <div class="container display">
        <span class="time">{{format(time)}}</span>
        <span class="timeType">The {{this.formatType(timeType)}} time!</span>
      </div>

      <div class="container display">
        <button nbButton hero shape="round" status="info" (click)="setTime(1500)">Code</button>
        <button nbButton hero shape="round" status="info" (click)="setTime(300)">Social</button>
        <button nbButton hero shape="round" status="info" (click)="setTime(900)">Coffee</button>
      </div>

      <div class="container">
        <div class="controlsPlay">
          <nb-icon
            (click)="handlePlay()"
            class="btnIcon"
            icon="play-circle" [options]="{ animation: { type: 'pulse' } }"
          ></nb-icon>
          <nb-icon
            (click)="reset()"
            class="btnIcon"
            icon="pause-circle" [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>
        </div>
      </div>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
